<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body >
    <!-- navbar -->
    <%- include('./partials/nav.ejs') %>   
    <div class="container pt-5">
    <h1 class="text-danger">404 error</h1>
    <p class="text-warning">Page not found</p>
    </div>
    <%- include('./partials/footer.ejs') %>   
</body>
</html>